@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Cinzel:wght@600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Prompt&display=swap");
.App {
  text-align: center;
}


body {

  background: linear-gradient(rgb(0, 0, 0) , rgb(156, 156, 13) , rgb(0, 0, 0) , rgb(156, 156, 13) , rgb(39, 37, 37));
  background-repeat: no-repeat;
  color: white;
  font-family: "Cardo", serif;

  /* width: 100vw; */
}





.Header {
  background: linear-gradient( rgb(20, 3, 3)  , rgb(0, 0, 0)  );
  display: flex;
  float: left;
  font-family: "Cardo", serif;
  font-weight: 900;
  padding: 25px;
  width: 100%;
  color: black;
  padding-left: 30px;
  padding-top: 15px;
  border-bottom: 1px solid white;
}

.Product_main_container {
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw; */
}

.Products_List {
  width: 21rem;
  height: 470px;
  margin: 40px;
  /* border: 1px solid rgb(155, 17, 17); */
  background: linear-gradient( rgb(255, 255, 255) ,  rgb(255, 253, 253) , #141414  );
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px;
}

.card-img-top {
  width: 150px;
  height: 150px;
}

.card-title {
  padding-top: 10px;
  font-size: 17px;
}

.P_price {
  color: red;
  font-size: 20px;
}

.P_rate {
  padding-top: 7px;
  font-weight: bold;
}

.btn-success {
  font-weight: bold;
  margin-top: 20px;
}

.btn-success:hover {
  background-color: rgb(19, 80, 19);
  font-weight: bold;
}

 .P_category {
  text-transform: capitalize;
}

/* Add to cart Logo Design  */

.Image_Add_To_cart {
  width: 100px;
  height: 70px;
  position: absolute;
  right: 70px;
  color: white;
}



.Count {
  position: absolute;
  right: 50px;
  border: 3px solid rgb(255, 255, 255);
  background-color: green;
  border-radius: 50%;
  height: 50px;
  width: 45px;
  padding: 10px;
  color: white;
}


.Count{
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
}

.shop{
  background-image: none;
  height: 50px;
  width: 50px;
}

.shop_Bazar{
  padding-left: 20px;
  margin-top: 10px;
  font-weight: 900;
  color: white;
}

.Modal_order{
  background-color: green;
  color: white;
  font-weight: 900;
  height: 40px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}


.Modal_close{
  /* background-color: rgb(202, 80, 80); */
  color: white;
  font-weight: 900;
  height: 40px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}








/* cart map styling  */

.table_container{
  justify-content: center;
  align-items: center;
    font-weight: 700  ;
}

.table_head{
  background-color: rgb(219, 127, 51);
  font-size: 19px;
}

.P_id{
  text-align: center;
  padding: 10px;
}

.title{
  text-align: center;
  padding: 10px;
}


.P_image{
  text-align: center;
  padding: 11px;
  height: 120px;
  width: 130px;
  background: none;
}

.P_price_value{
  text-align: center;
  font-size: 25px;
  color: red;
  font-weight: 900;
}





/* Total Amount  */

.Total_amount{
  font-weight: 900;
  font-size: 30px;
}

.Qun{
  font-weight: 900;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.flex{
  display: flex;
padding-left: 5px;
padding-right: 5px;

}

.Minus{
  background-color: rgb(201, 40, 40);
  color: white;
  font-weight: bold;
  padding: 5px;
  width: 50px;
  border: 2px solid black;
  cursor: pointer;
}

.Plus{
  background-color: rgb(29, 104, 29);
  color: white;
  font-weight: bold;
  padding: 5px;
  width: 50px;
  border: 2px solid black;
cursor: pointer;

}


/* //Total price of product  */

.Product_price_total{
  font-weight: 900;
  /* padding-left: 100px; */
  float: right;
}

.Total_value{
  color: rgb(4, 146, 16);
  font-weight: bold;
}







.Product_price_total{
  background-color: rgb(197, 192, 192);
  padding: 8px;
  border: none;
  border-radius: 10px;
}

.star_icon{
  padding-top: 10px;
}

.icon{
  color: #ffc107;
}




/* //Single product page  */

.Main_container_for_single_product{
  background-color: antiquewhite;
  color: black;
}